---
// Component Imports
import Layout from '../layout.astro';
---

<Layout title="AstroWind — Your website with Astro + Tailwind CSS">
  <main class="py-8 max-w-6xl mx-auto px-4 sm:px-6">
    <div class="mb-20">
      <h1 class="md:text-center text-6xl text-secondary">Kontakt</h1>
    </div>
    <div>
      <p class="md:text-center text-xl">
        Haben Sie Fragen, Anregungen, Bemerkungen oder Interesse an meinen
        Bildern?
      </p>
      <p class="md:text-center text-xl mt-8">
        Kontaktieren Sie mich unter{' '}
        <span class="text-secondary">eddie(at)bollier.ch</span> Ich freue
        mich auf Sie.
      </p>
    </div>
  </main>
</Layout>