---
// Component Imports
import Layout from '../layout.astro';
---

<Layout title="AstroWind — Your website with Astro + Tailwind CSS">
  <main class="py-8 max-w-6xl mx-auto px-4 sm:px-6">
    <div class="mb-20">
      <h1 class="md:text-center text-6xl text-orange-400">Portrait</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <article class="prose prose-xl prose-invert">
        <h1>Eddie Bollier</h1>
        <p>
          Geboren 1957 in Zürich; aufgewachsen in Zürich und Urdorf, seit 1982
          wohnhaft in der Stadt Solothurn. Ausbildung als Bauzeichner (Zürich)
          und Studium als Siedlungsplaner HTL (Rapperswil).
        </p>
        <p>
          Seit über 30 Jahre bin ich als kreativer Projektentwickler und
          Gestalter in der Architektur und Raumplanung tätig. Durch diese
          Arbeit bin ich sehr eng mit den Elementen Gestaltung, Grafik und
          Zeichnung verbunden, da ich auch sämtliche Entwurfs- und
          Gestaltungsarbeiten vollständig von Hand ausführe. Seit längerer
          Zeit setze ich meine Kreativität und meine gestalterischen Impulse
          aus dem Berufsleben auch in der Malerei um.
        </p>
        <p>
          Mit verschiedenen Kursen und Weiterbildungen unter anderem bei
          Alexander Jeanmaire Zürich, Robert Süess Dierikon, Günther Reil Ach
          (DE), Sonya Friedrich Solothurn und Rolf Wullimann Selzach-Altreu
          sowie mit verschiedenen Studienreisen nach USA, Kanada und Europa
          habe ich mich in den letzten Jahren stetig weiterentwickelt und der
          Malerei einen immer bedeutenderen Stellenwert eingeräumt.
        </p>
        <p>
          Durch eine ausgewogene Mischung von Berufstätigkeit und Malerei kann
          ich meine künstlerischen Intentionen unbeeinflusst von finanziellen
          Erwägungen verwirklichen und ich fühle mich bei meiner Tätigkeit als
          bildender Künstler nur meinem künstlerischen Gewissen verpflichtet.
        </p>
        <p>
          Ich bin ständig auf der Suche nach Neuem, nach Veränderung und nach
          Eigenständigkeit und setze meine Arbeit vielschichtig auf Leinwänden
          um. Mein Hauptaugenmerk gilt der abstrakten Acrylmalerei und dem
          Spiel von Proportionen, Formen; der Auseinandersetzung zwischen
          Unbändigkeit und Ruhe; zwischen Grafik und fliessenden Flächen.
        </p>
        <p>
          Einzelausstellungen in Solothurn (Rothushalle, 2017), Niederbipp
          (Räberstöckli, 2011, 2013, 2015 und 2019) und Salgesch (galerie
          lézards, 2012)
        </p>
      </article>
      <div class="relative">
        <div class="sticky top-9 left-0 right-0 flex flex-col gap-8">
          <img src="/assets/eddie1.jpeg" loading="lazy" class="w-full md:w-auto" decoding="async" />
          <img src="/assets/eddie2.jpeg" loading="lazy" class="w-full md:w-auto" decoding="async" />
          <img src="/assets/eddie3.jpeg" loading="lazy" class="w-full md:w-auto" decoding="async" />
        </div>
      </div>
    </div>
  </main>
</Layout>