---
// Component Imports
import Layout from '../layout.astro';
import GalleryPresence from '../components/gallerypresence.tsx'

---

<Layout title="AstroWind — Your website with Astro + Tailwind CSS">
  <main class="py-8 px-4 sm:px-6">
    <div class="mb-20">
      <h1 class="md:text-center text-6xl text-secondary">Bildergallerie</h1>
    </div>
    <div class="mt-20 relative">
      <GalleryPresence client:load />
    </div>
  </main>
</Layout>