<footer class=" mx-auto px-4 py-4 sm:px-6 border-t">
  <div class="flex justify-end gap-2">
    <span>Kontaktieren Sie mich unter</span>{' '}
    <a class="text-secondary" href="eddie@bollier.ch">
      eddie@bollier.ch
    </a>
  </div>
</footer>