---
import data from '../../output.json';
type Route = {
  url: string
  name: string
}
const routes: Route[] = [
  { url: '/', name: 'Home' },
  { url: '/aktuell', name: 'Aktuell' },
  { url: '/portrait', name: 'Portrait' },
  { url: `/ausstellungen/${data[0].path}`, name: 'Werke' },
  { url: '/kontakt', name: 'Kontakt' },
]
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname; // remove the first "/"
---

<header class="fixed top-0 z-40 flex-none mx-auto w-full border-b bg-primary">
  <div class="py-2 px-3 mx-auto w-full lg:flex lg:justify-end lg:px-4">
    <div class="flex justify-end">
      <div class="flex items-center lg:hidden">
        <button class="ml-1 text-secondary rounded-lg text-sm p-2.5 inline-flex items-center" onclick="toggleMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="4" y1="8" x2="20" y2="8"></line>
            <line x1="4" y1="16" x2="20" y2="16"></line>
          </svg>
        </button>
      </div>
    </div>
    <div class="items-center w-full lg:w-auto text-secondary hidden lg:flex bg-primary absolute lg:relative left-0"
      id="menu">
      <ul class="flex flex-col py-2 lg:py-0 lg:flex-row lg:self-center collapse w-full lg:w-auto collapsed">
        {routes.map(route => (
        <li>
          <a href={route.url} class={`font-medium uppercase hover:text-zinc-900 px-4 py-2 flex items-center transition
            duration-150 ease-in-out ${ currentPath===route.url ? 'text-secondary' : '' }`}>
            {route.name}
          </a>
        </li>
        ))}
      </ul>
    </div>
  </div>
</header>